body {
    font-family: font("font3");
    font-weight: 100;
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
}




.hr--styled{
    border-color: rgba(255, 166, 0, 0.9);
    border-width: .1em;
    width: 30%;
}


.pointer{
    color:rgb(44, 230, 230);
    padding:.2em 0;
    letter-spacing: .1em;
    text-shadow: 1px 1px 2px black;
    animation-name: pointer-blink;
    animation-duration: .4s;
    animation-iteration-count: infinite;
}


.main-content{
    max-width: 3000px;
    margin: auto;
}

