body {
    font-family: 'Roboto Light';
    overflow-x: hidden;
}




.hr--styled{
    border-color: rgba(255, 166, 0, 0.9);
    border-width: .1em;

    width: 30%;
}


.pointer{
    color:rgb(0, 248, 236);
    animation-name: pointer-blink;
    animation-duration: .4s;
    animation-iteration-count: infinite;
}

