.about {
    width: 70%;
    margin: 5% auto;

    .about__heading {
        font-size: 4em;
        text-align: center;
        border-bottom: 1px solid black;
        padding: .5em;
    }

    .about__paragraph {
        font-family: font("font1");
        font-size: 1.3em;
        text-align: center;
        line-height: 2em;
    }


}