.about {
    width: 90%;
    height: auto;
    margin: 0% auto;
    text-align: center;
    @include mobile{
        width: 90%;
        text-align: center;
    }

    .two__column{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        @include mini-laptop{
            grid-template-columns: 1fr;
        }
    
    }
    img{
        width:90%;
        border-radius: 5px;
        box-shadow: 5px 5px 5px gray;
        display: block;
        margin: auto;
    }
    .about__heading {
        font-size: 3em;
        border-bottom: 1px solid rgb(168, 168, 168);
        padding: .3em;
        margin: .4em;
        text-align: left;
        text-transform: uppercase;
        
        @include desktop{
            font-size: 2.5em;
        }
        @include tablet{
            font-size: 2em;
        }
        
    }

    .about__paragraph {
        margin:1em 0em;
        font-family: font("font2");
        font-size: 1em;
        color:rgb(0, 0, 0);
        text-align: center;
        line-height: 2em;
        @include desktop{
            font-size: .9em;
        }
        
        @include mini-laptop{
            font-size: .6em;
        }

        .about__emphasis{
            display: inline-block;
            text-transform: uppercase;
            color:rgb(245, 160, 2);
            font-size: 1.7em;
            padding:.3em .3em;
            font-weight: bold;

        }

   
       
        
    }

 

  


}