.about {
    width: 80%;
    height: auto;
    margin: 5% auto;
    @include mobile{
        width: 100%;
    }

    .about__heading {
        font-size: 3em;
        text-align: center;
        border-bottom: 1px solid rgb(168, 168, 168);
        padding: .3em;
        margin: .4em;
        
        @include desktop{
            font-size: 2.5em;
        }
        @include tablet{
            font-size: 2em;
        }
        
    }

    .about__paragraph {
        margin:0 2em;
        font-family: font("font2");
        font-size: 1em;
        color:rgb(0, 0, 0);
        text-align: center;
        line-height: 2em;
        @include desktop{
            font-size: .8em;
        }
        @include tablet{
            font-size: .6em;
        }

        .about__emphasis{
            display: inline-block;
            text-transform: uppercase;
            color:rgb(245, 160, 2);
            font-size: 1.7em;
            padding:.3em .3em;
            font-weight: bold;

         
          
        }
       
        
    }

 

  


}