.contact{
    padding:1em;
    height:90vh;
    background-color: $color4;
    color:white;
    .contact__form{
        display:grid;
        width:60%;
        margin:auto;
        grid-template-columns: 1fr;
        label  {
            font-family: font("font1");
            color:white;
            font-size: 1em;
            margin: .5em 0;
        }
        input{
            padding:.5em;
            font-size:1em;
            margin: .5em 0;
            border: none;
            border-radius: 5px;
        }
        textarea{
            margin: .5em 0;
            padding:.5em;
            resize: none ;
       
        }
        input[type=submit]{
            font-family: font("font3");
            background: rgb(11, 235, 85);
            border:none;
            font-size: 1.3em;
            padding:.3em;
            &:hover{
                background: rgb(12, 207, 77);
            }
            &:active{
                background: rgb(11, 235, 85);
            }
        }
    }
    .contact__icons{
    text-align: right;
        i{
            margin: 2em .5em;
            cursor: pointer;
            color: rgba(255, 166, 0, 0.9);
            font-size: 1em;
            padding: .7em;
            background-color: $color5;
            border-radius: 3em;

            &:hover {
                color: rgb(58, 58, 58);
                background-color: $color2;
                border: $color1;
            }
        }
    }

    .images__container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: .5em;
        justify-content: center;
        align-content:center;
        align-items: center;
        img{
            width:100%;
            margin: .2em auto;
            height: auto;
        }
    }

    .contact__details{
    font-size: 1.2em;
    width:80%;
        margin:3em auto 3em 0;
    }

    .quotation{
        width:70%;
        margin:0em 0 1em auto;
        font-size: 1.8em;
        .quotation__author{
            font-size: .5em;
            display: block;
            text-align: right;
        }
    }


   
}