//Projects Container
.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    grid-gap: 4em;
    width: 100%;
    height: auto;
    padding:2em;
    margin: 2% auto 2% auto;
    @include desktop{
        grid-template-columns: 1fr 1fr;
        padding:50px 100px;
    }
    @include laptop{
        padding:50px 50px;
    }
    @include mini-laptop{
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
        grid-row-gap: 2em;
        padding:50px 20px;
    }
    @include tablet{
        grid-template-columns: 1fr;
    }
 

    .project {
        width: 100%;
        height: 100%;
        text-align: center;
        display: block;
        margin: auto;
        padding: .5em 0;
        border: 1px solid rgb(218, 196, 196);
        border-radius: .3em;
        transition: .2s;
        @include mini-laptop{
            width:90%;
        }
        @include tablet{
            width: 70%;
        }
      

        &:hover {
            transform: scale(1.1, 1.1);
        }

        .project__project {
            position: relative;
            cursor: pointer;
           

            &:hover .project__project--view {
                display: flex;
            }

            .project__project--image {
                width: 100%;
                height: auto;
            }

            .project__project--view {
                position: absolute;
                top: 0;
                z-index: 1;
                background-color: rgba(0, 0, 0, 0.9);
                width: 100%;
                height: 100%;
                display: none;
                justify-content: center;
                align-items: center;

                i {
                    font-size: 1.5em;
                    color: rgb(206, 204, 204);
                    padding: .5em .8em;
                    cursor: pointer;

                    &:hover {
                        color: rgb(255, 255, 255);
                    }
                }
            }

        }

        .project__heading {
            font-size: 1em;
            padding: .8em;
            color:rgb(80, 78, 78);
            font-family: font("font4");
            @include laptop{
                font-size: .8em;
            }
        }

        .project__information {
            font-size: .9em;
            padding: .8em 1em 0 1em;
            font-family: font("font2");
            @include laptop{
                font-size: .7em;
            }
        }

        .project__technologies {
            margin: 1%;
            font-size: .7em;
            padding: 0 4em 0 4em;
            font-family: font("font4");
            @include laptop{
                font-size: .5em;
            }
        }
      
    }
}

//Project Overview
.project__overview{
    text-align: center;
    width:90%;
    height:80vh;
    z-index: 1;
    margin:3em auto;
    border-radius: 15px 0px 0px 15px ;
    position: sticky;   
    overflow:auto;
    top:15%;
    left:5%;
    display:none;
    background-color: rgba(238, 238, 238, 1);
    padding:5em 5em;


    .project__overview--exit{
        position: absolute;
        top:0;
        right:0;
        padding:2em;
        background-color: inherit;
        color:black;
        border: none;
    }
    .project__overview--introduction{
        height:100vh;
        opacity: 0;
        @include desktop{
            height:70vh;
        }
        
        .project__overview--heading{
            font-size: 4em;
            padding:.7em;
            @include desktop{
                font-size: 2em;
            }
            @include laptop{
                font-size: 1.7em;
            }
            @include mini-laptop{
                font-size: 1.2em;
            }
            @include tablet{
                font-size: 1em;
            }
            
        }
        .project__overview--logo{
            display:inline;
            width:150px;
            height:auto;
            margin:5em 0 0 0;
            @include desktop{
                margin:1em 0 0 0;
            }
            
        }
        .project__overview--details{
            line-height: 2em;
            @include desktop{
                font-size: .8em;
            }
            @include mini-laptop{
                font-size: .7em;
            }
        }
    }
   
    .project__information{
        text-align: justify;
        .project__information--heading{
            margin:1em 0;
            @include mini-laptop{
                font-size: 1.5em;
            }
        }
        .project__information--details{
            line-height: 2em;
            @include desktop{
                font-size: .8em;
            }
            @include laptop{
                font-size: .7em;
            }
        }
    }

    img{
        width:100%;
        margin:1em auto;
        padding:1em;
        height:auto;
        
    }
}