.skills {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 80%;
    height:100%;
    padding:4em 3em;
    border: 5px double gold;
    margin: 5% auto;
    @include tablet{
        width: 70%;
        padding:4em 1em;
    }
    
    @include mobile{
        width: 90%;
        text-align: center;
    }

    .skills__skills{
        font-size: 1em;
        font-family: font("font7");
        @include tablet{
            font-size: .8em;
        }
    }

    .two-column{
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include mini-laptop{
            grid-template-columns: 1fr;
           
        }
        .column{
        text-align: center;
            .column__image{
                width:70%;
                display: block;
                margin: auto;
                margin-top:2em;
                @include mini-laptop{
                    width:40%;
                    margin-top:0em;
                }  
            }
        }
        .column2-1{
            @include mini-laptop{
                grid-row: 1;
            }  
        }
    }

    .skills__heading {
        font-size: 3em;
        font-family: font("font3");
        padding:.3em;
        border-bottom: 1px solid rgb(168, 168, 168);
        margin:0em 0em 1em 0em;
        
        display: inline-block;
        text-transform: uppercase;
        
        @include desktop{
            font-size: 2.5em;
        }
        @include tablet{
            font-size: 1.5em;
        }
        
    }


   
       
        
    }

 

  


