.navbar {
    background-color: $color5;

    .navbar-brand {
        color: rgba(0, 247, 255, 0.9);
        font-family: 'Brownhill Script';
        font-size: 1.7em;
    }

    .navbar-nav {


        .nav-item {
            padding-right: 1em;
            font-family: font("font3");
            text-transform: uppercase;
            font-size: .8em;

            .nav_link {}
        }
    }
}