//Projects Container
.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    grid-gap: 4em;
    width: 100%;
    height: auto;
    padding:2em;
    margin: 2% auto 2% auto;

    .project {
        width: 100%;
        height: 100%;
        text-align: center;
        padding: .5em 0;
        border: 1px solid rgb(77, 77, 77);
        border-radius: .3em;
        transition: .2s;

        &:hover {
            transform: scale(1.1, 1.1);
        }

        .project__project {
            position: relative;
            cursor: pointer;

            &:hover .project__project--view {
                display: flex;
            }

            .project__project--image {
                width: 100%;
                height: auto;
            }

            .project__project--view {
                position: absolute;
                top: 0;
                z-index: 1;
                background-color: rgba(0, 0, 0, 0.9);
                width: 100%;
                height: 100%;
                display: none;
                justify-content: center;
                align-items: center;

                i {
                    font-size: 1.5em;
                    color: rgb(206, 204, 204);
                    padding: .5em .8em;
                    cursor: pointer;

                    &:hover {
                        color: rgb(255, 255, 255);
                    }
                }
            }

        }

        .project__heading {
            font-size: 1em;
            padding: .8em;
            font-family: font("font4");

        }

        .project__information {
            font-size: .9em;
            padding: .8em 1em 0 1em;
            font-family: font("font2");
        }

        .project__technologies {
            margin: 1%;
            font-size: .7em;
            padding: 0 4em 0 4em;
            font-family: font("font4");

        }
      
    }
}


.project__overview{
    text-align: center;
    width:90%;
    height:80vh;
    z-index: 1;
    margin:3em auto;
    border-radius: 15px 0px 0px 15px ;
    position: sticky;   
    overflow:auto;
    top:10%;
    left:5%;
    display:none;
    background-color: rgba(238, 238, 238, 1);
    padding:5em 15em;

    .project__overview--exit{
        position: absolute;
        top:0;
        right:0;
        padding:2em;
        background-color: inherit;
        color:black;
        border: none;
    }
    .project__overview--introduction{
        height:75vh;
        opacity: 0;
        .project__overview--heading{
           
            font-size: 4em;
            padding:.7em;
            
        }
        .project__overview--logo{
            display:inline;
            width:150px;
            height:auto;
            margin:5em 0 0 0;
            
        }
        .project__overview--details{
            line-height: 2em;
        }
    }
   
    .project__information{
     
        .project__information--heading{
            margin:1em 0;
        }
        .project__information--details{
            line-height: 2em;
        }
    }

    img{
        width:100%;
        margin:1em;
        padding:1em;
        height:auto;
    }
}