.sections__heading {
    font-size: 3em;
    padding: .3em;
    width: 95%;
    margin: 1em auto;
    color:rgb(100, 100, 100);
    @include desktop{
        font-size: 2.3em;
    }
    @include laptop{
        font-size: 2em;
    }
    @include mini-laptop{
        font-size: 1.7em;
    }
   
}


//Columns
.two__column {
    width: 100%;
    margin: 3em auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-column-gap: 5em;
    @include mini-laptop{
        grid-template-columns: 1fr;
    }
}

.three__column {
    width: 90%;
    margin: 3em auto;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    .column--border{
        border:1px solid rgb(161, 161, 161);
        border-radius: 5px;
        &:hover{
            border-bottom: 3px solid rgb(58, 235, 241);
        }
    }
    .column {
        margin:1em;
        padding:1em;

        @include laptop{
            padding:0em;
        }
        .column__text{
            font-size: .9em;
            @include laptop{
                font-size: .7em;
                padding:1em;
            }
        }

        .column__paragraph {
            font-size: 1.9em;
            font-family: font("font1");
            text-shadow: 1px 1px 5px gray;
            @include desktop{
                font-size: 1.3em;
            }
            @include laptop{
                font-size: 1em;
            }
            .column__heading {
                font-family: font("font5");
                font-size: .7em;
                text-shadow: none;
                @include laptop{
                    font-size: .8em;
                }
            }
            img {
                width: 25px;
                height: auto;
            }
        }
        .column__image {
            width: 100%;
            margin: auto;
            height: auto;
            border-radius: 2px;
        }
        h1{
                margin:0;
                padding:.5em;
                font-weight: bold;
                @include laptop{
                    font-size: 1.2em;
                   
                }
        }
        i{
            color:rgb(158, 155, 155);
            font-size:2em;
            margin:.4em auto;
        }
    }
}

//Columns Designs
    .column__information{
        width:80%;
        margin: auto;
       
      .column__information--heading{
          font-family: font("font3");
       font-size: 2.5em;
        padding:.5em 0;
        margin:0;
        @include desktop{
            font-size: 2.3em;
        }
        @include laptop{
            font-size: 1.5em;
        }
      }
      .column__information--details{
          line-height: 2em;
          font-family: font("font2");
          @include desktop{
            font-size: .8em;
        }
        @include laptop{
            font-size: .6em;
        }
      }
    }
    .column__images{
      .column__images--image{
          box-shadow: 2px 2px 2px gray;
        width:80%;
        display: block;
        margin: 1em auto;
        @include mini-laptop{
            width:40%;
        }
       
      }
    }