//COLLOR PALLETE
$color1: #3b354f;
$color2: #2f2d41;
$color3: #222130;
$color4: #181921;
$color5: #0d0d12;




//BREAKPOINTS
$breakpoint-desktop:1200px;
$breakpoint-laptop:950px;
$breakpoint-mini-laptop:750px;
$breakpoint-tablet:560px;
$breakpoint-mobile:400px;